﻿
.main-agileinfo {
    text-align: center;
}

/* text align center */


/*-- end reset --*/




body { /*todo el cuerpo del view*/
    background: #fff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3990E7, #d9ded5);
    background: -moz-linear-gradient(to top, #3990E7, #d9ded5);
    background: -o-linear-gradient(to top, #3990E7, #d9ded5);
    background: linear-gradient(to top, #3990E7, #d9ded5);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}


h1 {
    font-size: 3em;
    text-align: center;
    color: #3990E7;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
}

.T_terminos {
    color: #3990E7;
}

.I_image {
    color: #3990E7;
}

.wthree-text {
    color: #3990E7;
}
/*-- main --*/
.main-w3layouts {
    padding: 3em 0 1em;
}

.main-agileinfo {
    width: 35%;
    margin: 3em auto;
    background: #d9ded5;
    background-size: cover;
}

.agileits-top {
    padding: 3em;
}

input[type="text"], input[type="email"], input[type="password"] {
    font-size: 0.9em;
    color: #3990E7;
    font-weight: 100;
    width: 94.5%;
    display: block;
    border: 1px solid #b2baad;
    padding: 0.8em;
    border: solid 1px rgba(255, 255, 255, 0.37);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #3990E7;
    font-family: 'Roboto', sans-serif;
}

input.email, input.text.w3lpass {
    margin: 2em 0;
}

.text:focus, .text:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

    .text:focus::-webkit-input-placeholder, .text:valid::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
        font-size: .9em;
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -o-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
        visibility: visible !important;
    }

::-webkit-input-placeholder {
    color: #B8B8B8;
    font-weight: 100;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #B8B8B8;
}

:-ms-input-placeholder {
    color: #B8B8B8;
}

input[type="submit"] { /*boton registrarse*/
    font-size: .9em;
    color: #3990E7;
    background: #d9ded5;
    outline: none;
    border: 1px solid #efb810;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
}

    input[type="submit"]:hover {
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -o-transition: .5s all;
        transition: .5s all;
        background: #d9ded5;
    }

.agileits-top p {
    font-size: 1em;
    color: #3990E7; /*tienes una cuenta*/
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
}

    .agileits-top p a { /* ingresar*/
        color: #3990E7;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        transition: .5s all;
        font-weight: 400;
    }

 .agileits-top p a:hover {
            color: #76b852;
  }

/*-- //main --*/
/*-- checkbox --*/

input.checkbox {
    background: #d9ded5;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
}

/*-- responsive-design --*/
@media(max-width:1440px) {
    input[type="text"], input[type="email"], input[type="password"] {
        width: 94%;
    }
}

@media(max-width:1366px) {
    h1 {
        font-size: 2.6em;
    }

    .agileits-top {
        padding: 2.5em;
    }

    .main-agileinfo {
        margin: 2em auto;
    }

    .main-agileinfo {
        width: 36%;
    }
}

@media(max-width:991px) {
    h1 {
        font-size: 2.4em;
    }

    .main-w3layouts {
        padding: 2em 0 1em;
    }
}

@media(max-width:900px) {
    .main-agileinfo {
        width: 58%;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        width: 93%;
    }
}
/*footer*/
.colorlibcopy-agile {
    margin: 2em 0 1em;
    text-align: center;
}

.colorlibcopy-agile p { /*footer*/
    font-size: .9em;
    color: #B8B8B8;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-weight: 100;
}

        .colorlibcopy-agile p a { /*link despues del diseñado*/
            color: #B8B8B8;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -o-transition: 0.5s all;
            -ms-transition: 0.5s all;
        }

            .colorlibcopy-agile p a:hover {
                color: #B8B8B8;
            }