﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="~/Controller/Master/MasterUsuarios.master.cs" Inherits="Views_Master_MasterUsuarios" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <asp:ContentPlaceHolder id="head" runat="server">
        <style>
           


        </style>
    </asp:ContentPlaceHolder>
 <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Que Hay Pa Hacer</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../assets/img/favicon.png" rel="icon">
  <link href="../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet">


</head>
<body>
     <form id="form1" runat="server">
    

     <!-- ======= Header ======= -->
                  <header id="header">
                    <div class="container d-flex">

                      <div class="logo mr-auto">
                        <h1 class="text-light"><a href="index.html">Que Hay Pa Hacer<span>.</span></a></h1>
                        <!-- Uncomment below if you prefer to use an image logo -->
                         <a><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
                      </div>

                      <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li class="active"> <asp:LinkButton ID="LB_Buscar" runat="server" OnClick="LB_Buscar_Click"><h6>Buscar Eventos</h6></asp:LinkButton></li>
                            <li class="active"> <asp:LinkButton ID="LB_Menu_Eventos" runat="server" OnClick="LB_Menu_Eventos_Click" Visible="False">Mi Menu de Eventos</asp:LinkButton></li>
                         <li class="active"> <asp:LinkButton ID="LB_Menu_Administrador" runat="server" OnClick="LB_Menu_Administrador_Click" Visible="False">Administrar Pagina</asp:LinkButton></li>
                        
                           <li class="get-started" ><asp:LinkButton ID="B_Inicio_Sesion" runat="server" OnClick="B_Inicio_Sesion_Click">Inicio de sesion</asp:LinkButton></li>
                           <li class="get-started"><asp:LinkButton ID="B_Registro"  runat="server" OnClick="B_Registro_Click">Registro</asp:LinkButton> </li>
                         <li class="get-started"> <asp:LinkButton ID="B_Cerrar_Session" runat="server" OnClick="B_Cerrar_Session_Click">Cerrar Session</asp:LinkButton></li>
                        </ul>
                      </nav><!-- .nav-menu -->

                    </div>
                  </header><!-- End Header -->
          
                    <section id="hero">
                   
                  


                      
                              <video autoplay muted loop id="myVideo"  style="width:70% ;position: absolute;margin-left:30%;" >
                                     <source src="../../assets/img/video.mp4" type="video/mp4" >
                                 </video>
                    
                      
                      
                    <div class="container" >
                         
                     
                            
                      <div class="row d-flex align-items-center"">
                                
                     <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1 titulo_pa" data-aos="fade-right">
                                <img alt="" src="https://media.giphy.com/media/VDYGgrBD1IqiJIUvUe/giphy.gif"  style="width:50px !important; height:70px !important"/>
                          <br />
                 
                        <h1>¿Estas Aburrid@?</h1>
                       <h2>¿Estas buscando que hacer en CHIA? </h2>
                          <asp:LinkButton ID="LB_Buscar_B" runat="server" OnClick="LB_Buscar_B_Click" CssClass="btn-get-started scrollto">Buscar </asp:LinkButton>
                      </div>
                      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
              
                         <asp:Image ID="Imagen" runat="server" ImageUrl="~/assets/img/blanco.png" />
                      </div>
                                </div>
                         
                                </div>
                      
                  </section><!-- End Hero -->
          

                  <!-- ======= Hero Section ======= -->
            <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
               </asp:ContentPlaceHolder>
           

                  <main id="main">

                  


                    <!-- ======= Services Section ======= -->
                    <section id="services" class="services section-bg">
                      <div class="container">
                                 
                    <div>
                       
                     </div>
                        <div class="section-title">
                          <h2 data-aos="fade-in">¿QUE  HAY PA' HACER?</h2>
                          <p data-aos="fade-in">Este es un sitio web en el cual podras encontrar diferentes eventos en CHIA a los cuales asistir, dependiendo tu gusto.
                           </p>
                        </div>

                        <div class="row">
                          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                            <div class="card">
                              <div class="card-img">
                                <img src="../../assets/img/deportes.png" alt="...">
                              </div>
                              <div class="card-body">
                                <h5 class="card-title"><a href="">Eventos Deportivos</a></h5>
                                <p class="card-text">Esta es una categoria muy interesante, ya que muchos fanaticos a los deportes, pueden asistir a el evento de su preferencia bien sea de baloncesto, futbol, boleibol y demas.Si eres organizador de eventos deportivos podrias dar a conocer tu evento por este medio </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
                            <div class="card">
                              <div class="card-img">
                                <img src="../../assets/img/culturales.png" alt="...">
                              </div>
                              <div class="card-body">
                                <h5 class="card-title"><a href="">Eventos Culturales</a></h5>
                                <p class="card-text">No hay que dejar a un lado el folclor y las costumbres de nuestra tierra, te enteraras de los eventos culturales que hay organizados en CHIA, Si eres organizador de eventos culturales no pierdas la oportunidad de dar a conocer tu evento.</p>
                        
                              </div>
                            </div>

                          </div>
                          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                            <div class="card">
                              <div class="card-img">
                                <img src="../../assets/img/sociales.png" alt="...">
                              </div>
                              <div class="card-body">
                                <h5 class="card-title"><a href="">Eventos Sociales</a></h5>
                                <p class="card-text">Relacionarse con los demas hace parte de la naturaleza humana, porque no buscas un evento para compartir con las demas personas. Si eres organizador da a conocer tu evento  en la pagina.</p>
                               
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
                            <div class="card">
                              <div class="card-img">
                                <img src="../../assets/img/musicales.png" alt="...">
                              </div>
                              <div class="card-body">
                                <h5 class="card-title"><a href="">Eventos Musicales</a></h5>
                                <p class="card-text">La musica le da color y sentido a nuestras vidas.¿porque no buscar un evento de tu musica favorita?. Si eres organizador de eventos muicales no dudes en publicar tu evento en la pagina</p>
                            
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </section><!-- End Services Section -->

                    <!-- ======= Features Section ======= -->
                    <section id="features" class="features section-bg">
                      <div class="container">

                        <div class="section-title">
                          <h2 data-aos="fade-in">¿Por que utilizar QUE HAY PA' HACER?</h2>
                          <p data-aos="fade-in">A continuacion te damos a conocer las ventajas y beneficios que tiene esta pagina :</p>
                        </div>

                        <div class="row content">
                          <div class="col-md-5" data-aos="fade-right">
                            <img src="../../assets/img/features-1.svg" class="img-fluid" alt="">
                          </div>
                          <div class="col-md-7 pt-4" data-aos="fade-left">
                            <h3>Gran Versatilidad</h3>
                            <p class="font-italic">
                             QUE HAY PA'  HACER cuenta 
                            </p>
                            <ul>
                              <li><i class="icofont-check"></i> Una comunidad grande y creciente lista para hacer y asistir a eventos.</li>
                              <li><i class="icofont-check"></i> Pagina web intuitiva y lista para ser usada desde tu telefono.</li>
                            </ul>
                          </div>
                        </div>

                        <div class="row content">
                          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                            <img src="../../assets/img/features-2.svg" class="img-fluid" alt="">
                          </div>
                          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                            <h3>Facil de utilizar</h3>
                            <p class="font-italic">
                              Somos Usuarios y sabemos lo que los usuarios quieren.
                            </p>
                            <p>
                              Que hay pa hacer es una pagina responsive e intuitiva justamente por que esta diseñada para ti y para tus necesidades como usuario
                            </p>
                          </div>
                        </div>

                        <div class="row content">
                          <div class="col-md-5" data-aos="fade-right">
                            <img src="../../assets/img/features-3.svg" class="img-fluid" alt="">
                          </div>
                          <div class="col-md-7 pt-5" data-aos="fade-left">
                            <h3>Gran Aliado</h3>
                            <p>Utilizando CSS y Html Ademas de una gran arquitectura Que hay pa hacer cuenta con:</p>
                            <ul>
                              <li><i class="icofont-check"></i> Paginas Responsives que se ajustan al tamaño de tu celular.</li>
                              <li><i class="icofont-check"></i> Seguridad en tus datatos validandolos de una manera optima no invasiva.</li>
                              <li><i class="icofont-check"></i> Diversion y una gran variedad de actividades :).</li>
                            </ul>
                          </div>
                        </div>

                        <div class="row content">
                          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                            <img src="../../assets/img/features-4.svg" class="img-fluid" alt="">
                          </div>
                          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                            <h3></h3>
                            <p class="font-italic">
                              Que hay pa hacer te garantiza eventos de calida cerca de tu Hogar, contamos con mas de 100 Anfitriones y creciendo listos para hacer fiestas y eventos alocadamente constructivos.
                            </p>
                            <p>
                              Simplemente sientate en tu lugar favorito y empieza a navegar por un oceano de eventos fantasticos listos para que llegues y vivias la vida de una manera moderna. Hecho por gente como tu para gente como tu
                            </p>
                          </div>
                        </div>

                      </div>
                    </section><!-- End Features Section -->

   

                    <!-- ======= Team Section ======= -->
                    <section id="team" class="team section-bg">
                      <div class="container">

                        <div class="section-title">
                          <h2 data-aos="fade-in">Equipo</h2>
                          <p data-aos="fade-in">Nuestro equipo pequeño aunque profesional esta tomando fuerza en el empredimiento y mejora para que la vida de las personas cresca tomandose un tiempo y descubran el mundo lleno de eventos por descubrir</p>
                        </div>

                        <div class="row">
                          <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="member" data-aos="fade-up">
                              <div class="pic"><img src="../../assets/img/team/team-1.jpg" alt=""></div>
                              <h4>Luis Morales</h4>
                              <span>Chief Executive Officer</span>
                              <div class="social">
                                <a href="#"><i class="icofont-twitter"></i></a>
                                <a href="#"><i class="icofont-facebook"></i></a>
                                <a href="#"><i class="icofont-instagram"></i></a>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                              </div>
                            </div>
                          </div>

                          <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                              <div class="pic"><img src="../../assets/img/team/team-2.jpg" alt=""></div>
                              <h4>No hay mujeres</h4>
                              <span>Product Manager</span>
                              <div class="social">
                                <a href="#"><i class="icofont-twitter"></i></a>
                                <a href="#"><i class="icofont-facebook"></i></a>
                                <a href="#"><i class="icofont-instagram"></i></a>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                              </div>
                            </div>
                          </div>

                          <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="member" data-aos="fade-up" data-aos-delay="200">
                              <div class="pic"><img src="../../assets/img/team/team-3.jpg" alt=""></div>
                              <h4>Nicolas Mantilla</h4>
                              <span>CTO</span>
                              <div class="social">
                                <a href="#"><i class="icofont-twitter"></i></a>
                                <a href="#"><i class="icofont-facebook"></i></a>
                                <a href="#"><i class="icofont-instagram"></i></a>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                              </div>
                            </div>
                          </div>

                          <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="member" data-aos="fade-up" data-aos-delay="300">
                              <div class="pic"><img src="../../assets/img/team/team-4.jpg" alt=""></div>
                              <h4>Raul Mogollon</h4>
                              <span>Accountant</span>
                              <div class="social">
                                <a href="#"><i class="icofont-twitter"></i></a>
                                <a href="#"><i class="icofont-facebook"></i></a>
                                <a href="#"><i class="icofont-instagram"></i></a>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </section><!-- End Team Section -->

                    <!-- ======= Contact Section ======= -->
                    <section id="contact" class="contact section-bg">
                      <div class="container">

                        <div class="section-title">
                          <h2 data-aos="fade-in">Contacto</h2>
                          <p data-aos="fade-in">Puedes contactar a Que Hay Pa Hacer con un simple mensaje por correo electronico, llamandonos o simplemente visitandonos. Estaremos muy contentos de recibirte</p>
                        </div>

                        <div class="row">

                          <div class="col-lg-6">

                            <div class="row">
                              <div class="col-md-12">
                                <div class="info-box" data-aos="fade-up">
                                  <i class="bx bx-map"></i>
                                  <h3>Nuestra Direccion</h3>
                                  <p>Dg 18 No. 20-29 Fusagasugá</p>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                                  <i class="bx bx-envelope"></i>
                                  <h3>Envianos un Correo</h3>
                                  <p>queHayPaHacer@gmail.com<br>qhph@gmail.com</p>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                                  <i class="bx bx-phone-call"></i>
                                  <h3>Llamanos</h3>
                                  <p>+57 828 1483<br>+57 828 1483</p>
                                </div>
                              </div>
                            </div>

                          </div>

                          <div class="col-lg-6">
                            <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">
                              <div class="form-row">
                                <div class="col-md-6 form-group">
                                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Por favor ingresa almenos 4 caracteres" />
                                  <div class="validate"></div>
                                </div>
                                <div class="col-md-6 form-group">
                                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Porfavor ingresa un Email valido" />
                                  <div class="validate"></div>
                                </div>
                              </div>
                              <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Por favor ingresa almenos 8 caracteres" />
                                <div class="validate"></div>
                              </div>
                              <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Menaje"></textarea>
                                <div class="validate"></div>
                              </div>
                              <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Tu mensaje ha sido enviado !Gracias¡</div>
                              </div>
                              <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
                            </form>
                          </div>

                        </div>

                      </div>
                    </section><!-- End Contact Section -->

                  </main><!-- End #main -->

                  <!-- ======= Footer ======= -->
                  <footer id="footer">

                    <div class="container footer-bottom clearfix">
                      <div class="copyright">
                        &copy; Copyright <strong><span>Que Hay Pa Hacer</span></strong>. Todos los derechos reservados
                      </div>
                      <div class="credits">
                        Diseñado Por <a href="https://bootstrap.com/">Java-Limos</a>
                      </div>
                    </div>

                  </footer><!-- End Footer -->


                  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

                  <!-- Vendor JS Files -->
                  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
                  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                  <script src="../../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
                  <script src="../../assets/vendor/php-email-form/validate.js"></script>
                  <script src="../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
                  <script src="../../assets/vendor/venobox/venobox.min.js"></script>
                  <script src="../../assets/vendor/aos/aos.js"></script>
                    <script src="../../assets/js/particles.js"></script>
                    <script src="../../assets/js/app.js"></script>
                  
                  <!-- Template Main JS File -->
                  <script src="../../assets/js/main.js"></script>

        </form>
</body>
</html>
