﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Master/MasterUsuarios.master" AutoEventWireup="true" CodeFile="~/Controller/Principal/Default.aspx.cs" Inherits="Views_Principal_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">



</asp:Content>

