﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Master/MasterRegistrados.master" AutoEventWireup="true" CodeFile="~/Controller/Principal/DefaultRegistrados.aspx.cs" Inherits="Views_Principal_DefaultRegistrados" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

      <asp:Label ID="LA_Bienvenida" runat="server" Font-Size="XX-Large"></asp:Label>

</asp:Content>

